langchain==0.0.308
SpeechRecognition==3.10.0
google-cloud-speech
google-cloud-texttospeech
python-dotenv
openai
python-socketio
Flask==2.3.2
duckduckgo-search
tabulate
portaudio19-dev
PyAudio==0.2.13
